body {
    font-family: "Raleway", "sans serif";
    max-width: 100%;
    margin: 30px 100px 30px 100px;


}

button {
    border: 2px white solid;
    background-color: white;
    height: 40px;
    border-radius: 20%;
    width: 100px;
}

.ancre1 {
    border: #d9d9d9 1px solid;
    height: 100%;
    border-radius: 45%;
    background-color: #DEEBFF;
}

.ancre2 {
    border: #d9d9d9 1px solid;
    height: 100%;
    border-radius: 45%;
    background-color: #DEEBFF;
}

.ancre3 {
    border: #d9d9d9 1px solid;
    height: 100%;
    border-radius: 45%;
    background-color: #DEEBFF;
}

.ancre4 {
    border: #d9d9d9 1px solid;
    height: 100%;
    border-radius: 45%;
    background-color: #DEEBFF;
}

nav {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 200px;
    ;
    height: 200px;
    border-radius: 6%;
    object-fit: fill;

}

.img1 {
    display: flex;
    justify-content: flex-start;
    width: 10%;
    height: auto;

}

.form {
    margin-bottom: 20px;
    width: 100%;
}

.rowtwo {
    display: flex;
    flex-direction: column;
    float: right;
    align-self: baseline;
    margin-left: 20px;
    padding-left: 10px;
    background-color: #F2F2F2;
    width: 50%;
    height: 100%;



}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 840px;
    align-content: flex-start;

}

.container2 {
    padding-right: 200px;
}

.onerow :hover {
    transform: scale(1.1);
}

.rowtwo :hover {
    transform: scale(1.1);
}


.image4 :hover {
    transform: scale(1.1);
}

.insertimg :hover {
    transform: scale(1.1);
}


.image5 :hover {

    transform: scale(1.1);
}

.image6 :hover {

    transform: scale(1.1);
}

.image7 :hover {

    transform: scale(1.1);
}

.rowone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 60%;
    height: 100%;
    margin-right: 10px;
    padding: 0 20px 0 20px;


}

.insertimg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 29%;
    height: fit-content;
    border: 1px rgb(255, 255, 255) solid;
    background-color: white;
    border-radius: 6%;
    overflow: hidden;
    margin-bottom: 20px;


}


.onerow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}


.tworow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.h2 {
    margin-bottom: 15px;
    height: 50px;
}

.image4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 500px;
    justify-content: space-between;
    border-radius: 6%;
    margin-right: 5%;
}

.rows {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-between;
    padding: 0 40px 0 30px;
}

.image5 {
    display: flex;
    flex-direction: column;
    border-radius: 6%;
    margin-right: 5%;
}

.activite {
    display: flex;
    flex-wrap: wrap;

}

#activite {
    padding-left: 50px;
    ;
}

.size {
    height: 490px;
    border-radius: 6%;
    box-shadow: 5px 5px;
}

.size2 {
    height: 455px;
    border-radius: 6%;
    box-shadow: 5px 5px;
}

.threerow {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 60px;
    padding-bottom: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-right: 50px;

}

ul {
    list-style-type: none
}

.search {
    width: 100px;
}

.size3,
.size4,
.size5,
.size6 {
    border-radius: 6%;
    box-shadow: 5px 5px;
}

a {
    text-decoration: none;
}

.ancre {
    display: flex;
    justify-content: space-between;
}

i {
    border-radius: 36%;
    border: 2px black;
    color: #0065FC;
    background-color: #DEEBFF;
}

.ancre {
    width: 60%;
}

.recherche {
    width: 60%;
}

@media screen and (max-width: 678px) {
    body {
        margin-top: 50px;
        padding: 20px;
        height: auto;
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }

    .ancre {
        transform: scale(0.8);
        display: flex;
        flex-wrap: wrap;
    }
    #activite{
        padding-left: 40%;
    }

    #section {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }

    .img {
        max-width: 25%;
        height: auto;
    }

    .footer {
        padding-right: 20px;
    }

    .rowone {
        display: inline-block;
        flex-wrap: wrap;
        width: 100%;
        order: 1;
    }

    .rowtwo {
        display: inline-block;
        position: relative;
        width: auto;
        margin-top: 50px;
        order: 2;

    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 160%;

    }

    .threerow {
        margin-bottom: 5%;
    }

    .h2 {
        order: -1;
    }

    main {
        display: block;
    }

    .container2 {
        display: inline-block;
        order: 3;
        width: 100%;

    }

    .rows {
        display: inline-block;
        width: 80%;
        margin-left: 20%;
    }

    .image6 {
        display: inline-block;
        width: 80%;

    }

    .image7 {
        display: inline-block;
        width: 80%;


    }

    .size5 {
        width: 80%;
    }

    .size6 {
        width: 80%;
    }

    .size2 {
        width: 80%;
        height: 80%;
    }

    .image4 {
        width: 80%;
    }

    .size {
        width: 80%;
        height: 80%;
    }

    .image4 {
        width: 80%;
    }

    .size3 {
        width: 80%;
    }

    .size4 {
        width: 80%;
    }

    .image5 {
        width: 80%;
    }

    .footer {
        font-size: 75%;
    }

    .nav1 {
        font-size: 15px;
    }

    .recherche {
        width: 100%;
    }

    .ancre {
        width: 100%;
    }
    .onerow{
       height: 307.2px;
    }
    .text{
        max-height: 105px;
    }
}

@media screen and (max-width: 990px) and (min-width:679px) {
    body {
        margin-top: 50px;
        padding: 20px;
        height: auto;
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }

    #section {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }

    .img {
        max-width: 25%;
        height: auto;
    }

    .footer {
        padding-right: 20px;
    }

    .rowone {
        display: inline-block;
        flex-wrap: wrap;
        width: 100%;
        order: 1;
    }

    .rowtwo {
        display: inline-block;
        flex-direction: row;
        margin: 0 10px 0 0;
        width: auto;
        margin-top: 50px;
        order: 2;

    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 100%;

    }

    .image7 {
        width: 80%;
        text-align: center;
    }

    .size5 {
        width: 80%;
        margin-right: 20%;
    }

    .size6 {
        width: 80%;
    }

    h3 {
        width: 900px;
        height: 50px;
    }

    .h3 {
        height: 50px;
    }

    .threerow {
        margin-bottom: 5%;
    }

    .h2 {
        order: -1;
    }

    main {
        display: block;
    }

    .container2 {
        display: inline-block;
        order: 3;
        width: 100%;


    }

    .rows {
        display: inline-block;
        width: 80%;
        justify-content: center;
        padding-left: 25%;
    }

    .image6 {
        display: inline-block;
        width: 80%;
        text-align: center;

    }

    .image7 {
        display: inline-block;
        width: 80%;
        text-align: center;

    }

    .size6 {
        width: 80%;
        margin-right: 20%;
    }

    .size5 {
        width: 80%;
        margin-right: 20%;
    }

    .size2 {
        width: 80%;
        margin-right: 20%;
    }

    .size {
        width: 80%;
    }

    .image4 {
        width: 80%;
        text-align: center;
    }

    .size3 {
        width: 80%;
    }

    .size4 {
        width: 80%;
    }

    .image5 {
        width: 80%;
        text-align: center;
    }

    .footer {
        font-size: 75%;
    }

    .nav1 {
        font-size: 15px;
    }

    .recherche {
        width: 100%;
    }

    .ancre {
        width: 100%;
    }

    h2#activite {
        padding-left: 45%;
        padding-top: 100px;

    }
}

.text-droit {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
}

.image1 {
    display: flex;
    justify-content: space-between;
    align-self: start;
    background-color: white;
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 6%;
}

.image2 {
    display: flex;
    justify-content: space-between;
    align-self: start;
    background-color: white;
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 6%;
}

.image3 {
    display: flex;
    justify-content: space-between;
    align-self: start;
    background-color: white;
    width: 80%;
    text-align: left;
    margin-bottom: auto;
    border-radius: 6%;
}

i[data-active=false] {
    color: #d9d9d9;
}

i[data-active=black] {
    color: #0c0c0c;
}

.src {
    transform: scale(0.7);
    display: flex;
    float: left;

}

.gra-icon {
    text-align: end;
    margin-right: 150px;
    color: black;

}

.cover {

    width: 100%;

}

.nav1 {
    font-size: 25px;

}

.image6 {
    margin-right: 5%;
}

@media screen and (max-width: 618px) {
    .footer {
        margin-right: 15%;
    }

    body {
        margin: 5% 5% 5% 5%;
        padding: 0%;
        max-width: 100%;
    }

    .container {
        margin-bottom: 900px;
    }
    .ancre{
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }
    @media screen and (max-width: 1220px) {
        .insertimg{
        height: 100%;
        }
    }
}